<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Async Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#asyncForm').submit(function(event){
            event.preventDefault();  
            var formData = {
                'data': $('input[name=data]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/async-form',
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=UTF-8',
                success: function(response) {
                    alert(response.message);  
                    $('input[name=data]').val(''); 
                },
                error: function(error) {
                    alert('Error: ' + error);
                }
            });
        });
    });
    </script>
</head>
<body>
    <form id="asyncForm">
        Enter your data asynchronously: <input type="text" name="data">
        <!-- <input type="submit" value="Submit Asynchronously"> -->
        <button type="submit">Submit</button>
    </form>
    <hr/>
    <a href="/">Back to index</a>
</body>
</html>
